*.pdf

.DS_Store
.vscode/

MiniCRM/bin
MiniCRM/obj
MiniCRM.BLL/bin
MiniCRM.BLL/obj
MiniCRM.DAL/bin
MiniCRM.DAL/obj

MiniCRM.Domain/bin
MiniCRM.Domain/obj

MiniCRM.Application/bin
MiniCRM.Application/obj

MiniCRM.Infrastructure/bin
MiniCRM.Infrastructure/obj

Web/bin
Web/obj